<!DOCTYPE html>
<html>
<head><meta charset="utf-8">

    {{!-- Link for icon --}}
    <link rel="icon" href="/public/assets/cheeseburger.jpg">
    <title>Eat Da Burger</title>
    <!-- Link for CSS -->
    <link href="/assets/burger_style.css" rel="stylesheet">
    
</head>
<body>
    {{{body}}}
</body>
</html>